<div class="container">
  <h1>ANAGRAM FINDERS</h1><hr>
  <p>Hi! Please put your desire word in the form below:</p><br>

  <form action="/anagrams" method="post">
    <input type="text" name="user_input" placeholder="Insert your word here">
    <input type="submit">
  </form><br><hr>

   <p>Here Your Original Word: <%= @userWord %></p>

  <p>Here Your List Of Anagrams...</p>
 <!--  <%if @word_anagram%>
        <% @userWord.each do |asal|%>
          <p><%= asal %></p>
        <%end%>
      <%end%> -->


  <!-- <table>
  <tr>
    <td>1</td>
  </tr>
   <tr>
    <td>2</td>
  </tr>
  </table> -->
</div>
